# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# FFmpeg binaries (opcional versionar depois)
assets/ffmpeg/bin/*.exe
